body{
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./images/fabio-alves-_fLgxjACz5k-unsplash.jpg);
}
em{
  color: red;
}
.container{
  border: 10px solid rgba(247, 243, 242, 0.7);
  border-radius: 20px;
  text-align: center;
  background-color: rgba(247, 243, 242, 0.5);
}
.main-title{
  display: flex;
  font-size: 3vw;
}
.main_img{
  display: flex;
  width: 33vw;
  height: 33vh;
  margin-left: 17em;
}
.input_box{
  margin-left: 10em;
}
button{
  font-size: 35pt;
  border-radius: 50px;
  background: linear-gradient(to right,
    #bdc3c7,#2c3e50);
}
.input_box-submit{
  display: flex;
  margin-left: 1em;
}

.row_content{
  display: flex;
  flex-direction: row;
}

#playButton,#ResetButton:hover{
  cursor: pointer;
}


@media screen and (min-width: 769px){
  input{ 
    width:12em;height:1.5em;font-size:2em;
  }
  
}
  

@media screen and (max-width: 48rem){
  .container{
    width: 90vw;
    height: 70vh;
  }

  .main-title{
    font-size: 23px;
  }

  .main_img{
    width: 20vw;
    height: 24vh;
    margin-left: 8.3em;
    margin-top: 1em;
  }

  .input_box{
    margin-left: 0em;
  }
  input{
    width:12em;height:3em;font-size:20px;
    margin-top: -1em;
    margin-left: 3em;
  }

  .input_box-submit{
    margin-top: 3.8em;
    margin-left: -16em;
  }

  
  
}